* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  background-image: linear-gradient(black, rgb(95, 81, 0));
  color: white;
}

.banner img {
  width: 15vw;
  height: auto;
  border-radius: 3rem;
}

.banner .middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2vw;
}

.banner .middle img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.reasons-grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5vw;
  row-gap: 5vw;
  column-gap: 5vw;
}

.reason-container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  max-width: 30vw;
  max-height: 30vw;
  padding: 3rem;
  border-radius: 3rem;
  background-color: whitesmoke;
}

.reason-container:hover {
  box-shadow: 0 0 0.5rem rgb(95, 81, 0);
}

.reason-container img {
  height: 10rem;
  width: 10rem;
}

.reason-container p {
  margin-left: 1rem;
}
