* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.blur {
  position: relative;
  z-index: 0;
  filter: blur(10px);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2vw;
  padding: 1vw;
  background-image: linear-gradient(black, rgb(175, 149, 0));
  color: white;
}

.banner img {
  width: 50vw;
  height: auto;
  border-radius: 0;
}

.blog {
  width: 80vw;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2vw;
  background-image: linear-gradient(whitesmoke, white);
}

.reasons-grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5vw;
  row-gap: 5vw;
  column-gap: 5vw;
}

.reason {
  width: 35vw;
  height: 10vw;
  padding: 1rem 3rem 4rem 3rem;
  border-radius: 3rem;
  overflow: hidden;
  font-size: 1vw;
  background-color: whitesmoke;
}

.reason .body {
  display: flex;
}

.reason .body img {
  height: 10vw;
  width: 10vw;
  object-fit: contain;
  object-position: top;
}

.reason .body p {
  margin-left: 1rem;
}

.reason:hover {
  box-shadow: 0 0 0.69rem rgb(175, 149, 0);
}

.reason-big {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 80vw;
  height: 40vw;
  margin: 1.5vw 6vw;
  padding: 4rem;
  border-radius: 3rem;
  background-color: whitesmoke;
  font-size: 1vw;
}

.reason-big .body {
  display: flex;
}

.reason-big .body img {
  max-height: 30vw;
  width: 30vw;
}

.reason-big .body p {
  margin-left: 1rem;
}

.reason-big .gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15vw;
  margin-top: 2vw;
}

.reason-big .gallery img {
  object-fit: contain;
  object-position: top;
  max-width: 30vw;
}

.rick-roll {
  display: block;
  text-align: center;
  margin-bottom: 4vw;
  font-size: 2vw;
  color: rgb(175, 149, 0);
}

/*smaller screens not mobile */
@media only screen and (max-width: 1660px) {
  .reasons-grid {
    grid-template-columns: auto;
    justify-items: center;
  }
}
